/* General Body Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  overflow-x: hidden;
}

/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Navbar when scrolled */
.navbar-scrolled {
  background-color: white;
}

/* Navbar Brand */
.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
  padding-left: 30px;
  padding-top: 10px;
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 45px;
}

.navbar-links li {
  margin-left: 20px;
  margin-right: 50px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* About Section Styling */
.about-section {
  display: flex;
  align-items: center;
  height: calc(100vh - 50px);
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.about-text {
  width: 50%;
  padding: 0px;
  box-sizing: border-box;
  color: black;
  background-color: #f0f0f0;
  margin-left: 40px;
}

.about-image {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 30px;
}

.about-img {
  max-width: 60%;
  max-height: 80%;
  height: auto;
  border-radius: 15px;
  display: block;
  padding-right: 80px;
}

.about-button {
  background-color: #fb5c12;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.about-button:hover {
  background-color: #e54e1d;
}
